*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-shadow: none;
}
html,body{
    font-size: 62,5%;
    font-family: 'Courier New', Courier, monospace;
    text-rendering: optimizeLegibility;
}

html,body{
    height: 100%;
}
.tela{
    height: 100%;
    display: flex;
    flex-direction: row;
}
.left-screen{
    height: 100%;
    width: 50%;
    background: #A6E1FA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imagem{
    height: 100%;
    width: 50%;
}
.screen-connect{
    height: 40rem;
    width: 25rem;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{
    width: 20rem;
    height: 3rem;
    border-radius: 1rem;
    border: 0.1rem black none;
    margin-top: 0.3rem;
    padding: 0.2rem;
    font-size: 1rem;
}
input{
    margin-bottom: 2rem;
}
.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    font-size: 0.7rem;
}
button{
    margin-top: 1rem;
    width: 15rem;
    height: 2rem;
    background: #EE7674;
    color: white;
    border-radius: 1rem;

}
.password-remember{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.caixa{
    margin-left: 0.3rem;
}
.imagem{
    background-image: url(../Image/Imagem.png);
    background-repeat: no-repeat;
    background-position: center;
}
.forgot-password{
    margin-left: 5rem;
    text-decoration: none;
    color:blue;
}
